* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  color: rgb(61, 61, 61);
}
h1 {
  font-size: 60px;
  font-weight: 800;
}
h2 {
  font-size: 45px;
  margin-bottom: 40px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 17px;
  padding: 40px 0;
  letter-spacing: 0.9;
  line-height: 1.3;
}
section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.top-banner {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.753)),
    url(images/donation/kenya-children-fruit-smash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.top-banner p {
  width: 70ch;
}
.orange-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  background-color: tomato;
  padding: 17px 40px;
  border-radius: 5px;
}
.amount-list {
  display: flex;
  justify-content: space-between;
}
.amount-list h2 {
  font-weight: 600;
  background-color: rgb(236, 234, 234);
  padding: 60px 40px;
  color: gray;
  margin: 10px;
  border-radius: 5px;
}
.donate-today p {
  max-width: 100ch;
  margin-bottom: 30px;
}
#tk200 {
  color: tomato;
  border: 2px solid tomato;
  background-color: rgba(255, 99, 71, 0.281);
}
input[type="number"] {
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 10px 20px;
  width: 800px;
  border: none;
  border-bottom: 2px solid gray;
}
input[type="submit"] {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  background-color: tomato;
  padding: 17px 40px;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
}
.donate-plan p {
  max-width: 100ch;
}
.card-holder {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.item-card {
  width: 22%;
  text-align: left;
  margin: 10px;
  padding: 25px 10px;
  padding-left: 25px;
  border-radius: 5px;
}
#input-amount {
  margin: 50px 0;
}
.card-img {
  width: 100px;
  margin: 20px 0;
}
#food-card {
  background-color: #4f9da63f;
}
#med-card {
  background-color: #ff59593b;
}
#land-card {
  background-color: #fff4d669;
}
#newsletter {
  width: 55%;
  height: 250px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4d69a;
}
#newsletter form {
  display: flex;
}
#newsletter input[type="email"] {
  width: 40ch;
  font-size: 15px;
  padding-left: 20px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px 0 0 5px;
}
#newsletter input[type="submit"] {
  font-size: 15px;
  border-radius: 0 5px 5px 0;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px 0;
}
footer h1 {
  color: tomato;
  font-weight: normal;
  font-family: "Lobster", cursive;
}
.quote-card {
  display: flex;
  width: 55%;
  margin: 20px 0;
}
.quote-card img {
  height: 200px;
  clip-path: circle();
}
.quote-content {
  margin: auto 0;
  width: 100%;
  padding: 20px;
  border-radius: 30px;
}
.quote-content p {
  padding: 10px;
}
.left-aligned {
  text-align: left;
  margin-right: auto;
  margin-left: 30px;
  padding-right: auto;
  background-color: #4f9da63f;
}
.right-aligned {
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  background-color: #ff59593b;
}
