* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1.1;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 20px;
  font-weight: 400;
  padding: 40px 0;
}
section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.top-banner {
  color: white;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.712)), url(images/donation/kenya-children-fruit-smash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.top-banner p {
  width: 70ch;
}
.orange-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  background-color: tomato;
  padding: 17px 40px;
  border-radius: 5px;
}
.amount-list {
  display: flex;
  justify-content: space-between;
}
.amount-list h2 {
  font-weight: 600;
  background-color: rgb(236, 234, 234);
  padding: 40px 40px;
  color: gray;
  margin: 10px;
  border-radius: 5px;
}
.donate-today p {
  max-width: 100ch;
  margin-bottom: 30px;
}
#tk200 {
  color: tomato;
  border: 2px solid tomato;
  background-color: rgba(255, 99, 71, 0.281);
}
input[type=number] {
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 10px 20px;
  width: 800px;
  border: none;
  border-bottom: 2px solid gray;
}
input[type=submit] {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  background-color: tomato;
  padding: 17px 40px;
  border-radius: 5px;
  border: none;
  margin: 0 auto
}
.donate-plan p{
  max-width: 100ch;
}
.card-holder {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.item-card {
  width: 22%;
  text-align: left;
  margin: 10px;
  padding: 25px 17px;
  border-radius: 5px;
}
#input-amount {
  margin: 50px 0;
}
.card-img {
  width: 100px;
  margin: 20px 0;
}
#food-card {
  background-color: #4f9da63f;
}
#med-card {
  background-color: #ff59593b;
}
#land-card {
  background-color: #fff4d669;
}
#newsletter {
  width: 55%;
  height: 250px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4d69a;
}
#newsletter form{
  display: flex;
}
#newsletter input[type=email] {
  width: 40ch;
  font-size: 18px;
  padding-left: 20px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px 0 0 5px;
}
#newsletter input[type=submit] {
  border-radius: 0 5px 5px 0;
}