* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1.1;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
p {
  font-size: 20px;
  font-weight: 400;
  padding: 40px 0;
}
section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.top-banner {
  color: white;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.712)), url(images/donation/kenya-children-fruit-smash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.top-banner p {
  width: 70ch;
}
.orange-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  background-color: tomato;
  padding: 17px 40px;
  border-radius: 5px;
}
.amount-list {
  display: flex;
  justify-content: space-between;
}
.amount-list h2 {
  font-weight: 600;
  background-color: rgb(236, 234, 234);
  padding: 30px 40px;
  color: gray;
  margin: 10px;
  border-radius: 3px;
}
.donate-today p {
  width: 55%;
}
#tk200 {
  color: tomato;
  border: 1px solid tomato;
  background-color: rgba(255, 99, 71, 0.281);
}
input[type=number] {
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 10px 20px;
  width: 800px;
  border: none;
  border-bottom: 2px solid gray;
}
input[type=submit] {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  background-color: tomato;
  padding: 17px 40px;
  border-radius: 5px;
  border: none;
  margin: 0 auto
}
#input-amount {
  margin: 50px 0;
}